<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>员工管理系统</title>
    <link rel="stylesheet" href="css/admin_index/index.css">
    <link rel="stylesheet" href="css/admin_index/admin.css">

</head>
<body style="background-color:#f2f9fd;">

<div th:replace="admin_header::header"></div>
<div class="admin">
    欢迎你,管理员<span th:text="${session.admin.staffName}"></span>!
</div>
<div style="text-align:center;">
</div>

</body>
</html>