<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <base href="/">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
  <title>员工管理系统</title>
<link rel="stylesheet" href="css/admin_index/admin.css">
<link rel="stylesheet" href="css/admin_index/index.css">
<script src="js/vue.min.js" ></script>
</head>
<body>
<div th:replace="admin_header::header"></div>
<div class="admin">
  <div class="panel-head"><strong><span class="icon-key"></span>修改管理员密码</strong></div>
  <div class="body-content">
    <div class="form-x" id="form">
      <div class="form-group">
        <div class="label">
          <label>当前管理员帐号：</label>
          <span th:text="${session.admin.staffName}"></span>
        </div>
        <div class="field">
          <label style="line-height:33px;">
           <span></span>
          </label>
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="mpass">原始密码：</label>
        </div>
        <div class="field">
          <input type="password" @keyup = "changeOld" @blur="changeOldPass" v-model.trim="oldPass"  class="input w50" id="mpass" name="mpass" size="50" placeholder="请输入原始密码" data-validate="required:请输入原始密码" />
          <span class="erro_tip erro_position">{{oldPassTip}}</span>
          <input type="hidden" th:value="${session.admin.admin}" ref="admin">
        </div>
      </div>      
      <div class="form-group">
        <div class="label">
          <label for="newpass">新密码：</label>
        </div>
        <div class="field">
          <input type="password" @keyup="newNowPass" v-model.trim="newPass" class="input w50" id="newpass" name="newpass" size="50" placeholder="请输入新密码"/>
          <span class="erro_position">    *限制是1-10的数字或者字母 &nbsp;  <span class="erro_tip">{{newTip}}</span></span>
        </div>
      </div>

      <div class="form-group">
          <div class="label">
          <label for="renewpass">确认新密码：</label>
        </div>
        <div class="field">
          <input type="password" @keyup="validRepeat" v-model.trim="repeatPass" class="input w50"  id="renewpass" name="renewpass" size="50" placeholder="请再次输入新密码"/>
          <span class="erro_tip erro_position">{{repeatTip}}</span>
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
        <button class="button bg-main icon-check-square-o submit" type="submit" @click="changePass"> 提交</button>
          <span class="erro_tip" style="display:inline-block; margin-left:10px; font-size: 12px">{{changPassResult}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="js/vue-resource.min.js"></script>
<script>
    (function(){

        new Vue(
            {
                el:"#form",
                data:function(){
                    return{
                        oldPassTip:"",
                        oldPass:"",
                        newPass:"",
                        newTip:"",
                        repeatPass:"",
                        repeatTip:"",
                        changPassResult:""
                    }
                },
                methods:{
                    oldPassTips:function(value){
                        switch (value){
                            case '0':return "密码错误";break;
                            case '1':return "格式错误";break;
                            case '2':return "密码重复"; break;
                            case '3':return "不能与旧密码重复";
                            case '4': return "与新密码不相同"; break;
                            case '5': return "修改成功";break;
                            default: return "";break;
                        }
                    },
                    changeOldPass:function(){
                            var _this = this;
                        if(this.oldPass.length > 0){
                            this.$http.post("/admin/getOldPassResult",{nowOldPass:this.oldPass,admin:this.$refs.admin.value}).then(function(res){
                                if(res.bodyText === "ok"){
                                    _this.oldPassTip = _this.oldPassTips();
                                }else{
                                    _this.oldPassTip = _this.oldPassTips('0');
                                }
                            })
                        }else{
                            this.oldPassTip = this.oldPassTips('0')
                        }
                    },
                    newNowPass:function(){
                        this.changPassResult = this.oldPassTips()
                        if(this.oldFlag&& this.oldPass === this.newPass){
                                this.newTip = this.oldPassTips("3")
                        }else{
                            this.newTip = this.oldPassTips();
                            if((/\w{1,10}/g.test(this.newPass)&&!/\?|=|&/g.test(this.newPass))){
                                this.newTip = this.oldPassTips()
                            }else{
                                this.newTip = this.oldPassTips("1")
                            }
                        }

                    },
                    validRepeat:function(){
                        this.changPassResult = this.oldPassTips();
                        if(this.newFlag && this.newPass !== this.repeatPass){
                              this.repeatTip = this.oldPassTips("4")
                          }else{
                              this.repeatTip = this.oldPassTips();
                              if(this.repeatPass.length === 0){
                                  this.repeatTip = this.oldPassTips("1")
                              }else{
                                  this.repeatTip = this.oldPassTips()
                              }
                          }
                    },
                    changePass:function(){
                      this.changeOldPass();
                      this.newNowPass();
                      this.validRepeat();
                      if(this.oldFlag && this.newFlag && this.repeatFlag){
                          this.$http.post("/admin/changePass",{newPass:this.newPass,admin:this.$refs.admin.value}).then(function(res){
                                    if(res.bodyText === "success"){
                                            this.changPassResult = this.oldPassTips("5")
                                    }
                          })
                      }
                    },
                    changeOld:function(){
                        this.changPassResult = this.oldPassTips();
                    }
                },
                computed:{
                    oldFlag:function(){
                        return this.oldPassTip === this.oldPassTips();
                    },
                    newFlag:function(){
                        return this.newTip === this.oldPassTips();
                    },
                    repeatFlag:function(){
                        return this.repeatTip === this.oldPassTips();
                    }
                }
            }
        )
    })()
</script>
</body>
</html>